[submodule "nodejs-express-mysql"]
	path = nodejs-express-mysql
	url = git@github.com:CyanPineapple/cool-core.git
[submodule "vue-3-crud"]
	path = vue-3-crud
	url = git@github.com:CyanPineapple/cool-vue.git
